@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}

html[data-theme='dark'] {
  background-color: #1b2022;
  color: #feffff;
  scroll-behavior: smooth;
  scroll-snap-type: initial;

}